@import "normalize";
@import "base";

//styles de base
html{
	font-size: 62.5%; 
	height: 100%; 
}
body{
	height: 100%;
}
body,select,input,textarea{
	color: $font-color;
	font-family: $font-family;
	@include font-size($font-size);
}
h1,h2,h3,h4,h5,h6{
	font-family: $heading-font-family;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
}
strong,th {
	font-wieght: 700;
}
a,a:active,a:visited{
	color: inherit;
}
p{
	margin-top: 0;
	margin-bottom: 6px;
	@include font-size($font-size);
	font-weight: 300;
}
ul,
ol{
	@include font-size(16);
}
li ul,
li ol{
	margin-left: 20px;
}

//menu
#menu-container{
	background: #252525;
	color: #fff;
}
#menu-container a.menu-toggle{
	display: none;
	color: #fff;
	padding: 10px;
	text-decoration: none;

	@include breakpoint(mobile){
		display: block;
	}
}
#menu{
	overflow: hidden;

	@include breakpoint(mobile){
		max-height: 0em;
	
		&.active{
			max-height: 20em;
		}
	}
}
#menu ul{
	display: table;
	margin: auto;
	list-style: none;
	text-align: center;

	@include breakpoint(desktop){
		width: $media-small-desktop;
	}
	@include breakpoint(tablet){
		width: $media-tablet;
	}
}
#menu li{
	display: table-cell;

	@include breakpoint(mobile){
		display: block;
		border-top: 1px solid #bbbbbb;
	}
}
#menu a{
	display: block;
	text-decoration: none;
	padding: 10px 0;
	@include transition();

	&:hover{
		background: #f4f4f4;
		color: #252525;
	}
}

//slides
section.slide{
	width: 100%;
	background: #cc0000;
	
	@include breakpoint(desktop){
		min-height: 700px;
	}
}
section.slide div.slide-inner{
	background: #00aa00;
	margin: auto;
	
	@include breakpoint(desktop){
		width: $media-small-desktop;
	}
	@include breakpoint(tablet){
		width: 100%;
	}
	@include breakpoint(mobile){
		width: 100%;
	}
}