@import "normalize";
@import "base";

//styles de base
html{
	font-size: 62.5%; 
	height: 100%; 
}
body{
	height: 100%;
}
body,select,input,textarea{
	color: $font-color;
	font-family: $font-family;
	@include font-size($font-size);
}
h1,h2,h3,h4,h5,h6{
	font-family: $heading-font-family;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
}
h1{
	@include font-size(32);
}
h2{
	@include font-size(25);
}
strong,th {
	font-wieght: 700;
}
a,a:active,a:visited{
	color: inherit;
}
p{
	margin-top: 0;
	margin-bottom: 6px;
	@include font-size($font-size);
	font-weight: 300;
}
ul,
ol{
	@include font-size(16);
}
li ul,
li ol{
	margin-left: 20px;
}

//menu
#menu-container{
	background: $couleur-fond-contraste;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
#menu-container a.menu-toggle{
	display: none;
	padding: 10px;
	text-decoration: none;

	@include breakpoint(mobile){
		display: block;
	}
}
#menu{
	overflow: hidden;

	@include breakpoint(mobile){
		max-height: 0em;
	
		&.active{
			max-height: 20em;
		}
	}
}
#menu ul{
	display: table;
	margin: auto;
	list-style: none;
	text-align: center;

	@include breakpoint(desktop){
		width: $media-small-desktop;
	}
	@include breakpoint(tablet){
		width: $media-tablet;
	}
	@include breakpoint(mobile){
		display: block;
	}
}
#menu li{
	display: table-cell;

	@include breakpoint(mobile){
		display: block;
		border-top: 1px solid #bbbbbb;
	}
}
#menu a{
	display: block;
	text-decoration: none;
	padding: 10px 0;
	@include transition();

	&:hover{
		background: #f4f4f4;
		color: #252525;
	}
}

//slides
section.slide{
	width: 100%;
	padding-top: 42px;
	padding-bottom: 20px;
	@include background-size(cover);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	@media 	only screen and (min-height: 700px){
		min-height: 700px;
	}
	@media 	only screen and (min-height: 500px) and (max-height: 699px){
		min-height: 500px;
	}
	@media 	only screen and (max-height: 499px){
		min-height: 300px;
	}
}
section.slide div.slide-inner{
	margin: auto;
	padding-top: 40px;
	
	@include breakpoint(desktop){
		width: $media-small-desktop;
	}
	@include breakpoint(tablet){
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	@include breakpoint(mobile){
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

//slides individuelles
#home{
	background-image: url('../img/home.jpg');
	color: $couleur-texte-corporate;

	h1{
		margin-bottom: 0;
		
		@include breakpoint(mobile){
			@include font-size(25);
		}
	}
	h2{
		font-weight: 400;
		margin-bottom: 50px;
		
		@include breakpoint(mobile){
			@include font-size(20);
			margin-bottom: 30px;
		}
	}
	strong{
		display: block;
		margin: auto;
		text-align: center;
		@include font-size(22);
		
		@include breakpoint(mobile){
			@include font-size(18);
		}
	}
}
#pourquoi{
	background: $couleur-fond-contraste;

	h1{
		margin-bottom: 40px;
	}
	h1 span{
		font-weight: 400;

		@include breakpoint(mobile){
			display: block;
		}
	}
	strong{
		margin-bottom: 15px;
		display: block;
	}
}
#entrepreneur{
	background: $couleur-fond-entrepreneur;
	position: relative;
	overflow: hidden;

	h1{
		@include font-size(60);
		text-align: center;
		
		@include breakpoint(mobile){
			@include font-size(40);
			text-align: left;
		}
	}
	//retour à la ligne manuel
	@include breakpoint(mobile){
		h1 span{
			display: block;
		}
	}
	
	&:after{
		content: "1";
		position: absolute;
		font-family: $heading-font-family;
		font-weight: 700;
		color: #e0867a;
	
		@include breakpoint(desktop){
			@include font-size(600);
			bottom: -150px;
			right: -20px;
		}
		@include breakpoint(mobile){
			@include font-size(450);
			bottom: -120px;
			right: -20px;
		}
	}
}

#prop1{
	background-image: url('../img/entrepreneuretudiant.jpg');
}